body {
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat'
    
}

.container {
    position: relative;
    width: 414px;
    height: 800px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, #c8daff, #2c4674);
    border: 4px #2c4674;
}


h1 {
    font-size: 64px;
    color: #2b3a61;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Montserrat'
}
h2 {
    font-size: 24px;
    color: white;
    margin: 10px 20px;
    font-family: 'Montserrat-bold'
}

.menino {
    width: 100%;
    bottom: 70px;
    opacity: 0;
    transform: translateY(100px);
    animation: subir 1s forwards ease-out;
    max-width: 100%;
    margin-top: 142px;
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.garota{

width: 100%;
bottom: 70px;
opacity: 0;
transform: translateY(100px);
animation: subir 1s forwards ease-out;
max-width: 100%;
margin-top: 57px;
}

    
.botao1 {
    transition: transform 0.3s ease;
    position: relative;
    bottom: 20px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -775px;
    margin-right: 35px;
    
    
}
.botao2 {
    transition: transform 0.3s ease;
    position: relative;
    bottom: 20px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -775px;
    margin-left: 35px;
    
    
}
.botao3 {
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 20px;
    background-color: #2c4674;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30;
    
    
    
}

button:hover {
    transform: rotate(90deg);
}

